ul {
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    background-color: rgba(56, 55, 55, 0.493);
    border: 5px solid rgb(56, 56, 56);
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
  }
  
  li a:hover {
    background-color: rgba(66, 63, 63, 0.836);
  }
  .AboutMe{
    height: 100px;
    font-size: 200%;
  }
  h1{
    background-color: rgba(56, 55, 55, 0.493);
    border: 5px solid rgb(56, 56, 56);
    color: white;
    border-radius: 10px;
    background-size: 20%;
}
  p{
    background-color: rgba(56, 55, 55, 0.493);
    border: 5px solid rgb(56, 56, 56);
    font-size: 195%;
    width: 50%;
    color: white;
    border-radius: 10px;
  }
  
  .resume{
    height: 100px;
    font-size: 200%;
    background-image: url(https://cdn.edu.buncee.com/rackspace/bnc-assets/animations/ef7/1449521011-Young_animation_120715_02.gif);
    background-size: 23%;  
}

  body{
    background-image: url(https://images.unsplash.com/photo-1523633589114-88eaf4b4f1a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
  }

  .Web{
      width: 14%;
  }

  .cp {
      width: 16%;
  }
  .cehs{
      width: 20%;
  }
  