ul {
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    
    background-image: url(https://i.ya-webdesign.com/images/transparent-raindrop-12.gif);
   
    
    width: 12%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
  }
  
  li a:hover {
    background-color: rgba(223, 149, 149, 0.836);
  }
  h1{
    color: white;
    background-color: rgba(88, 86, 86, 0.836);
    border: 5px solid rgb(235, 42, 42);
    height: 100px;
    font-size: 400%;
    border-radius: 10px;
    background-image: url(https://i.ya-webdesign.com/images/transparent-raindrop-12.gif);
    background-color: ;
  }
  p{
    color: white;
    background-color: rgba(88, 86, 86, 0.836);
    border: 5px solid rgb(235, 42, 42);
    font-size: 195%;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    background-image: url(https://i.ya-webdesign.com/images/transparent-raindrop-12.gif);
  }
  .first_paragraph{
    height: 190px;
  }
  
  .second_paragraph{
      height: 200px
  }

  body{
      background-image: url(https://st.depositphotos.com/1802282/2824/v/450/depositphotos_28244465-stock-illustration-black-and-white-background-with.jpg);
      background-size: 50%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    background-image: url(https://im6.ezgif.com/tmp/ezgif-6-5fc6b14ffa88.gif);
    background-size: 105%;
    background-position:center ;
  }
  
  .sidenav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: rgb(253, 6, 6);
    display: block;
    transition: 0.3s;
    width: ;

  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .spancolor{
    background-color: rgba(88, 86, 86, 0.836);
    border: 5px solid rgb(235, 42, 42);
    border-radius: 10px;
    color: white;
  }
  
  [class^=]
  